<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">
    <context:component-scan base-package="ua.kiev.unicyb.tcct"/>

    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="Record"/>
        <property name="service" ref="recordServiceImpl"/>
        <property name="serviceInterface" value="ua.kiev.unicyb.tcct.service.record.RecordService"/>
        <property name="registryPort" value="1199"/>
    </bean>

    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="Intersection"/>
        <property name="service" ref="intersectionServiceImpl"/>
        <property name="serviceInterface" value="ua.kiev.unicyb.tcct.service.table.IntersectionService"/>
        <property name="registryPort" value="1199"/>
    </bean>

    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="Column"/>
        <property name="service" ref="columnServiceImpl"/>
        <property name="serviceInterface" value="ua.kiev.unicyb.tcct.service.column.ColumnService"/>
        <property name="registryPort" value="1199"/>
    </bean>

    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="Database"/>
        <property name="service" ref="databaseServiceImpl"/>
        <property name="serviceInterface" value="ua.kiev.unicyb.tcct.service.database.DatabaseService"/>
        <property name="registryPort" value="1199"/>
    </bean>

    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="Table"/>
        <property name="service" ref="tableServiceImpl"/>
        <property name="serviceInterface" value="ua.kiev.unicyb.tcct.service.table.TableService"/>
        <property name="registryPort" value="1199"/>
    </bean>
</beans>
